/* FeaturesCards.module.css */

.featuresSection {
    background-color: #E9ECEF;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* A classe .card não precisa mais do position: relative */
.card {
    border: 1px solid #e9ecef;
}

/* A classe .infoIcon foi removida pois não é mais necessária */

.title {
    font-size: var(--mantine-font-size-lg);
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-xs);
}

.cardTitle {
    /* Estilos para o título do card, se houver */
}

.cardDescription {
    white-space: pre-wrap;
}