/* src/components/Footer/Footer.module.css */

.footer {
    margin-top: 120px;
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.logo {
    max-width: 200px;
}

.description {
    margin-top: var(--mantine-spacing-xs);
}

.inner {
    display: flex;
    justify-content: space-between;
}

.groups {
    display: flex;
    gap: calc(var(--mantine-spacing-xl) * 2); /* Aumenta o espaço entre as colunas */
}

.wrapper {
    width: 180px; /* Define uma largura fixa para cada coluna */
}

.link {
    display: block;
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    font-size: var(--mantine-font-size-sm);
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.title {
    font-size: var(--mantine-font-size-lg);
    font-weight: 700;
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    margin-bottom: calc(var(--mantine-spacing-xs));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.afterFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-xl);
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.invalid {
    background-color: var(--mantine-color-red-light);
    border-color: var(--mantine-color-red-7);
    color: var(--mantine-color-red-7);
}

/* Responsividade para telas menores */
@media (max-width: 960px) {
    .inner {
        flex-direction: column;
    }

    .logo {
        margin-bottom: var(--mantine-spacing-xl);
    }

    .groups {
        gap: var(--mantine-spacing-md);
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
    }
}